<!DOCTYPE html>
<html>
  <head>
    <title>Who's Picking Lunch Today?</title>
    <link rel="stylesheet" href="/css/style.css">    
  </head>
  
  <body>
    <div id="main"><%= name %></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
      var $main = $('#main');

      update_text();
      function update_text(){
        $main.css('line-height', $(window).height() + 'px');
      }

      on_resize(update_text);

      // debulked onresize handler
      function on_resize(c,t){onresize=function(){clearTimeout(t);t=setTimeout(c,100)};return c};      
    </script>
  </body>
</html>